pip install pygame
pip install googlesearch-python
pip install qrcode
pip install pyautogui
pip install pyttsx3
pip install winapps
pip install matplotlib
pip install tkcalendar
pip install pyqt5
pip install pyqtwebengine
pip install yfinance
pip install pillow
pip install openpyxl
pip install sympy
pip install pytube
pip install hijri_converter
pip install requests
pip install instaloader
pip install opencv-python
pip install textblob
pip install vaderSentiment
pip install langdetect
pip install screen-brightness-control
pip install numpy
pip install prophet
pip install seaborn
pip install mediapipe  
pip install pyshorteners
